body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: 2px;    
}

.menu{
   
    text-align: center;
    color: white;
    background-color: black;
    margin: 0;
    width: 480px;
    padding: 10px;
}

.scroll { 
 
flex-wrap: wrap;
height: 100vh;
overflow-y: auto;}
    
#contenedor{
    position: relative;
    display: inline-block;
    
}


#textosup{
    position: absolute;
    text-align: center;
    color: white;
    margin-top: 200px;
    }

#nike{
    color: white;
    font-family: Arial, sans-serif; 
}


h2 {
    font-size: 25px;
    line-height: 40px;
    font-weight: lighter;
    margin-bottom: 20px;
    padding-left: 50px
    
    }
   
h2 span {
   color: gray;
    font-size: 10pt;
  
}



p {
    font-size: 15px;
    letter-spacing: 1px;   
    line-height: 20px;
    width: 400px;
    padding-left: 50px;
    
  
}



#cajabaja {

    height: 20vh;
    font-weight: 00;
    margin-top:  20px;
    color:darkgrey 

}

ul{

    height: 20vh;
    width: 70vw;   
    font-size: 7px;
    letter-spacing: 1px;
    color: darkgrey;
    width: 400px;
    padding-left: 40px;
    list-style: none

}


li {
    padding: 5px;
 
}
#hastag a:hover{
    text-decoration: line-through;
    position: relative;
    left: 4px;
}

#visual a:hover{

    border-bottom: 2px solid;
    color: coral;
    position: relative;
    left: 4px;
}

#experiencia a:hover{
    position: relative;
    left: 4px;
}

a:link{
    
text-decoration: none;
}


#cajanegra{
    height: 30vh;
    margin-top:  30px;
    color: darkgrey;
    background-color: black;
    padding: 50px;
    
}

dt{

    height: 2vh;
    font-size: 15px;
    letter-spacing: 2px;
    color: darkgrey;
    width: 100%;
    font-family: Helvetica, sans-serif; 
    font-weight: 30;
    padding: 5px;
    
}
