#listasuperior{
    list-style: none;
    background-color: steelblue;
    padding: 10px
  
}


#elpais {
    font-family: Majerit, Baskerville, Cambria, Georgia, Minion Pro, serif;
    font-size: 25px;
    width: 400px;
    text-align: left;
    color: white;
   
}

#bigempresas {
    font-family: Arial, Helvetica, sans-serif;
    font-family: cursive; 
    text-align: center;
    position: relative;
    width: 400px;
    margin-left: 750px;
    font-size: 15px;
    color: white;

    
}

#proyecto{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    position: relative;
    margin-left: 500px;
    font-size: 15px;
    color:white;
}

h1 { 
    font-family: Georgia, Minion Pro, serif;
    font-size: 80px;
    text-align: center;
    font-family: inherit; 
    margin-bottom: 20px;
    line-height: 1; 
    font-weight: 400;
}

.piedetitulo {
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     font-size: 25px;
    margin-top: 10px;
}

.fotocabecera{
    
  display:block;
    margin:auto;
    width: 1500px;
}

.fotosposicion {
  display:block;
    margin:auto;
    width: 800px;
    
}

.imagencabecera {
    width: 600px;
    display: block;
    margin: auto;
  
}

.parrafo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    text-align:justify;
    margin-top: 40px;
    line-height: 30px;
    
    
}

#cap::first-letter{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
    float: left;
  
}


#Div {
    margin-left: 550px;
    margin-right: 550px;

}


#cap {
     font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    text-align:justify;
    margin-top: 40px;
    line-height: 30px;
}

#banner {
     width: 800px;
    display: block;
    margin: auto;
    margin-top: 50px;
}

.piefoto{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    margin-bottom: 0px;
        
}

.pie {
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 60px;
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
    
}

img#turist {
    vertical-align: middle;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 230px
    
}

p#turist {
    vertical-align: middle;
    text-align: right;
}

#piefoto{
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 40px;
    
}

a{
    text-decoration: none;
    color: dodgerblue;
}

a:visited{
    color: dodgerblue;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

hr#discontinuo {
    
    border: 1px dotted #ffff;
    border-style: none none dotted;
    color: black;
    background-color: black;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 550px;
    margin-right: 550px;

}

hr {
    margin-left: 550px;
    margin-right: 550px;
    margin-bottom: 20px;
    margin-top: 50px;
}

li {
    
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
     display: inline;
     color: dimgray;
}

