#cookies {
    position: fixed;
    bottom: 10px;
    left: 30%;
    width: 40%;
    height: 200px;
    background-color: black;
    animation-name: Cookies;
    animation-duration: 4s;
    z-index: 1;
    color: white;
    font-size: 25px;
    
}

#cierra{
    background-color: white;
    color: black;
}

@keyframes Cookies {
    from {
        height: 0;
    }
    
    to {
        height: 200px;
    }
}

#padre{
display: flex; 
flex-wrap: wrap;
flex-direction: row;
justify-content: center;

}


#menu{
    
    background-color: black;
    font-family: Roboto, Verdana, Arial,sans-serif;
    font-size: 20px;
    color: beige;
    padding: 50px;
    text-align: center;
    margin:0;

   
}
a:link{
    
text-decoration: none;
    color: white;
}

#inicio a:hover{
    text-decoration: none;
    border-bottom: 2px solid;
    color: white;
    position: relative;
    left: 4px;
}



#blog a:hover{
     text-decoration: none;
    border-bottom: 2px solid;
    color: white;
    position: relative;
    left: 4px;
}

#proyectos a:hover{
     text-decoration: none;
    border-bottom: 2px solid;
    color: white;
    position: relative;
    left: 4px;
}

#sobre a:hover{
     text-decoration: none;
    border-bottom: 2px solid;
    color: white;
    position: relative;
    left: 4px;
}

#contacto a:hover{
     text-decoration: none;
    border-bottom: 2px solid;
    color: white;
    position: relative;
    left: 4px;
}


li{
    display:inline;
    padding: 20px;
    
}

#imagenp{
    display: flex;
    position: relative;
    width: 100%;

}

#columna{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

}
 

a:visited{
    color: white;
}



#cromo{
    width: 65%;
    margin: 60px;
}

#descubre{
    font-size: 50px;
    margin-bottom: 60px;
    margin-top: 40px;
    margin-left: 20px;
}

#subtitulosblog{
    font-size: 30px;
}

main{
    margin-bottom: 50px;
}

button {
    background-color: black;
    color: white;
  
    
}

footer{
margin-top: 40px;
background-color: black;
height: 100px;
text-align: center;
padding: 40px;

}