header {
    background-color: antiquewhite;
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.row{
    margin-left: 0;
}
        div {
            box-sizing: border-box; /* para que los bordes, paddings estén en la anchura (determinada por col) */
           
        }
        nav {
            background-color: hotpink;
            width: 200px;
            height: 100vh;
            margin: 5px;
            padding-left: 15px;
            padding-right: 15px;
        }
        #galeria {
           
            display: flex; /* al ser col Boostrap ya le pone Flex */
            flex-direction: column;
            flex-wrap: nowrap;
            height: 100vh; /* 80% altura pantalla */
            overflow: auto;
            background-color:aqua;
            width: 700px;
            padding-left: 10px;
            padding-right: 10px;
            margin: 5px;
        }     
        
        @media (min-width: 768px) {
            #galeria div{
                width: 50%;  /* se aplica desde min-width desde 768px */
            }
        }        
      